<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.order.mapper.OrderMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.order.model.Order">
    <id column="o_id" jdbcType="INTEGER" property="id" />
    <result column="o_order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="o_sub_total" jdbcType="DOUBLE" property="subTotal" />
    <result column="o_discount_total" jdbcType="DOUBLE" property="discountTotal" />
    <result column="o_grand_total" jdbcType="DOUBLE" property="grandTotal" />
    <result column="o_tax_total" jdbcType="DOUBLE" property="taxTotal" />
    <result column="o_store_id" jdbcType="INTEGER" property="storeId" />
    <result column="o_customer_id" jdbcType="INTEGER" property="customerId" />
    <result column="o_customer_name" jdbcType="VARCHAR" property="customerName" />
    <result column="o_status" jdbcType="VARCHAR" property="status" />
    <result column="o_remark" jdbcType="VARCHAR" property="remark" />
    <result column="o_store_service_types_id" jdbcType="INTEGER" property="storeServiceTypesId" />
    <result column="o_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="o_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
    <association property="orderPayment" resultMap="com.harmoni.pos.order.mapper.OrderPaymentMapper.BaseResultMap"/>
    <collection property="orderDetails" resultMap="com.harmoni.pos.order.mapper.OrderDetailMapper.BaseResultMap"/>
  </resultMap>

  <sql id="Base_Column_List">
    o.id as o_id, o.order_no as o_order_no, o.sub_total as o_sub_total,
    o.discount_total as o_discount_total, o.grand_total as o_grand_total,
    o.tax_total as o_tax_total, o.store_id as o_store_id,
    o.store_service_types_id as o_store_service_types_id,
    o.customer_id as o_customer_id, o.customer_name as o_customer_name,
    o.status as o_status, o.remark as o_remark,
    o.created_at as o_created_at, o.updated_at as o_updated_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.order.mapper.OrderDetailMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.order.mapper.OrderDetailSkuMapper.Base_Column_List"/>
    from orders o
    left join order_details order_detail on o.id = order_detail.order_id
    left join order_detail_skus order_detail_sku on order_detail.id = order_detail_sku.order_detail_id
    where o.id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByStoreId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,
    <include refid="com.harmoni.pos.order.mapper.OrderDetailMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.order.mapper.OrderDetailSkuMapper.Base_Column_List"/>,
    <include refid="com.harmoni.pos.order.mapper.OrderPaymentMapper.Base_Column_List"/>
    from orders o
    left join order_details order_detail on o.id = order_detail.order_id
    left join order_detail_skus order_detail_sku on order_detail.id = order_detail_sku.order_detail_id
    left join order_payments order_payment on order_payment.order_id = o.id
    where o.store_id = #{storeId,jdbcType=INTEGER}
    and o.created_at between #{from,javaType=java.sql.Timestamp,jdbcType=TIMESTAMP}
      and #{until,javaType=java.sql.Timestamp,jdbcType=TIMESTAMP}
    order by o.id desc
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from orders
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.order.model.Order">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into orders (order_no, sub_total, discount_total,
      grand_total, tax_total, store_id, 
      store_service_types_id, customer_id, customer_name, status, remark,
      created_at, updated_at
      )
    values (#{orderNo,jdbcType=VARCHAR}, #{subTotal,jdbcType=DOUBLE}, #{discountTotal,jdbcType=DOUBLE}, 
      #{grandTotal,jdbcType=DOUBLE}, #{taxTotal,jdbcType=DOUBLE}, #{store.id,jdbcType=INTEGER},
      #{storeServiceTypesId,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{customerName,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.order.model.Order">
    update orders
    set order_no = #{orderNo,jdbcType=VARCHAR},
      sub_total = #{subTotal,jdbcType=DOUBLE},
      discount_total = #{discountTotal,jdbcType=DOUBLE},
      grand_total = #{grandTotal,jdbcType=DOUBLE},
      tax_total = #{taxTotal,jdbcType=DOUBLE},
      store_id = #{storeId,jdbcType=INTEGER},
      store_service_types_id = #{storeServiceTypesId,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      customer_name = #{customerName,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>