<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.harmoni.pos.order.mapper.OrderPaymentMapper">

  <resultMap id="BaseResultMap" type="com.harmoni.pos.order.model.OrderPayment">
    <id column="order_payment_id" jdbcType="INTEGER" property="id" />
    <result column="order_payment_order_id" jdbcType="INTEGER" property="orderId" />
    <result column="order_payment_payment_id" jdbcType="INTEGER" property="paymentId" />
    <result column="order_payment_amount" jdbcType="DECIMAL" property="amount" />
    <result column="order_payment_created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="order_payment_updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>

  <sql id="Base_Column_List">
    order_payment.id as order_payment_id, order_payment.order_id as order_payment_order_id,
    order_payment.payment_id as order_payment_payment_id, order_payment.amount as order_payment_amount,
    order_payment.created_at as order_payment_created_at, order_payment.updated_at as order_payment_updated_at
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_payments order_payment
    where order_payment.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_payments
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <insert id="insert" parameterType="com.harmoni.pos.order.model.OrderPayment">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into order_payments (order_id, payment_id, amount, 
      created_at, updated_at)
    values (#{orderId,jdbcType=INTEGER}, #{paymentId,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.harmoni.pos.order.model.OrderPayment">
    update order_payments
    set order_id = #{orderId,jdbcType=INTEGER},
      payment_id = #{paymentId,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>